/*
!.idea
!.gitignore
!gradlew
!gradlew.bat
!README.md
!application-feeder
!common
!domain
!persistence
!build.gradle.kts
!gradle.properties
!repositories.gradle.kts
!resolutions.gradle.kts
!settings.gradle.kts
